.red{
    background-color: $color_button;
    margin-left: 16px;
    width: 7%;
    a{
        text-decoration: none;
        color: $color_1;
    }
}

.blue{
    background-color: $color_button;
    margin-left: 16px;
    width: 7%;
    a{ 
        text-decoration: none;
        color: $color_1;
    }
}