.red{
    background-color: $color_button;
    border: 3px $color_3 solid;
    margin-left: $margin;
    width: 7%;
    font: 24px bolder;
    a{
        text-decoration: none;
        color: $color_3;
    }
}

.blue{
    background-color: $color_button;
    border: 3px $color_3 solid;
    margin-left: $margin;
    width: 7%;
    font: 24px bolder;
    a{ 
        text-decoration: none;
        color: $color_3;
    }
}